// Define variables for your color scheme

// For example:
$red: #930214;
$blue: #265994;
$blue-light: #07FFF0;
$yellow: #FFC65A;
$orange: #F5A623;
$green: #4A7B12;
$gray: #0E0000;
$light-gray: #F4F4F4;
