
  <div class="wrap-footer">
    <div class="left-links">
      <%= link_to 'Mentions légales', '#' %>
    </div>
    <div class="middle-links">
      <p>©Sample 2020</p>
    </div>
    <div class="right-links">
      <ul>
        <li><i class="fab fa-github"></i></li>
        <li><i class="fab fa-linkedin-in"></i></li>
        <li><i class="fab fa-instagram"></i></li>
      </ul>
    </div>
  </div>
