<div class="main-container">
  <div class="row full">
    <div class="col-md-5">
      <div class="title-wrapper">
        <div class="title">
          <h1>Hi,<br>I'm Benoit <br> </h1>
        </div>

      </div>
    </div>
    <div class="col-md-7">
      <div class="logo-wrapper">
        <div class="logo">
          <%= image_tag('code.jpg') %>
        </div>
      </div>
    </div>
  </div>
</div>
