<section id="animinput">
  <h1>Animation input</h1>
  <div class="form-wrapper">
    <div class="form">
      <div class="input-form">
        <input type="text" name="name" autocomplete="off" required />
        <label for="name" class="label-name">
          <span class="content-name">Name</span>
        </label>
      </div>

      <div class="input-form">
        <input type="email" name="email" autocomplete="off" required />
        <label for="email" class="label-name">
          <span class="content-name">Email</span>
        </label>
      </div>

      <div class="input-form">
        <input type="text" name="phone" autocomplete="off" required />
        <label for="phone" class="label-name">
          <span class="content-name">Phone</span>
        </label>
      </div>
      <button type="submit" class="btn btn-submit">
        <i class="far fa-paper-plane"></i>
          Send
      </button>
    </div>
  </div>
</section>
