<div class="container-home">
  <div class="title-home">
    <h1>My name is Benoît Bessière</h1>
  </div>
  <div class="link-home btn-circle text-center m-auto">
    Read More
  </div>
  <div class="coordinate">
    <div class="address">
      <i class="fas fa-map-marker-alt"></i>
      <p>rue des papes 14, 1218 Plan les ouates</p>
    </div>
    <div class="phone">
      <i class="fas fa-phone-alt"></i>
      <p>022 796 22 55</p>
    </div>
  </div>
</div>
