<section class="memory">
<h1 class="page-title">memory</h1>
  <div class="overlay-text visible">
    Click to Start
  </div>
  <div class="overlay-text" id="game-over-text">
    GAME OVER
    <span class="overlay-text-small">Click to Start</span>
  </div>
  <div class="overlay-text" id="victory-text">
    VICTORY
    <span class="overlay-text-small">Click to Start</span>
  </div>

  <div class="game-container">
    <div class="game-info-container">
      <div class="game-info">
        Time <span id="time-remaining">100</span>
      </div>
      <div class="game-info">
        Flips <span id="flips">0</span>
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/bunny.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/bunny.png">
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/titi.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/titi.png">
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/tasmanian.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/tasmanian.png">
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/sylvestre.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/sylvestre.png">
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/tom.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/tom.png">
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/speedy.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/speedy.png">
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/marvin.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/marvin.png">
      </div>
    </div>

    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/daffy.png">
      </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="card-back-image" src="assets/logo.png">
      </div>
      <div class="card-front card-face">
        <img class="card-value" src="assets/daffy.png">
      </div>
    </div>

  </div>
</section>

