<section class="container">
  <div class="portfolio">
    <p>I</p>
    <p>n</p>
    <p>p</p>
    <p>u</p>
    <p>t</p>
    <p>-</p>
    <p>A</p>
    <p>n</p>
    <p>i</p>
    <p>m</p>
    <p>a</p>
    <p>t</p>
    <p>i</p>
    <p>o</p>
    <p>n</p>
    <p>.</p>
  </div>
</section>
