.wrap-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding:30px 40px;
  background-color: #40434E;
  color: #E6E6E9;
}
.left-links a {
  color: #E6E6E9;
}
.middle-links p{
  margin: 0px;
}

