.navbar {
  width: 100%;
}

.navbar-nav {
  padding-top: 10px;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}

.navbar-toggler {
  border: none !important;
}

#navbarNav > ul > li > a {
  color: #6c757d;
}

#navbarNav > ul > li > a:hover {
  color: #07FFF0;
  text-decoration: none;
}


