.navbar-sample {
  justify-content: space-between;
  background: white;
}
.navbar-logo img {
  height: 50px;
}
.navbar-brand {
  font-family: 'Arizonia', cursive;
  font-size: 32px;
  border-radius: 25px;
  border: solid 3px #912F40;
  background-color: #912F40;
  color: #F0F2EF !important;

  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px 15px !important;
}
.navbar-brand:hover {
  background-color: #F0F2EF !important;
  color: #912F40 !important;
}
.dropdown {

  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-toggle:empty::after {
  display: none;
}
.fa-plus-circle {
  color: green;

}
.navbar-sample-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-sample-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: #333333 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-sample-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
  text-decoration: none;
}
.navbar-sample-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 20px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
